<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="">
    <title><%= title%></title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        header{
            margin-top: 30px;
            background-color: rgba(0,0,0,0.1);
        }
        h1{
            font-size: 25px;
            margin-top: 10px;
            text-align: center;
        }
        form{
            margin-top: 20px;
        }
        .control-label{
            padding-right: 0;
            text-align: center;
        }
        .radio-inline{
            padding-top: 0 !important;
        }
        .button{
            margin-left: 10px;
        }

        th{
            color: #00B7FF;
        }
        td{
            color:black;
        }
    </style>
</head>
<body>



<header>
    <div class="container">
        <h1>不知道是什么的页面</h1>
    </div>
</header>